@import './variables';
@import './mixins';
@import './reset';
@import './general';
// Strart import blocks desctop
@import './blocks/header';
@import './blocks/brand';
@import './blocks/subcaption';
@import './blocks/stocks';
@import './blocks/products';
@import './blocks/advantages';
@import './blocks/footer';
@import './blocks/name-page';
@import './blocks/registration';
@import './blocks/perks';
@import './blocks/cart';
// End import blocks desctop